/* .accordion {
    margin: 50px;
} */

body{
    animation: fade-in 2s;
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    margin: 1.5em auto;
    color: #333;
}

img{
  border-radius: 80%;
  width: 20%;
}
dt, dd {
    margin: .5em 0;
    width: 100%;
    display: block;
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
    text-decoration: none;
    overflow: hidden;
}

a {
    display: block;
    color: black;
    font-weight: bold;
}
   
body{
    background: #F9F2F2;
    transition: background-color 2s ;
}

li {
    color: black;
}

h2 {
  color: black;
  margin-right: 5%;
}

p {
  color: black;
  font-family: montserrat;
  font-size: 20px;
  margin-right: 3%;
  margin-left: 3%;
  transition: color 2s ;
}

a {
    color: white;
    transition: color 2s ;
}

dt{
    margin: 10px;
    background: black;
    color: white;
    transition: background-color 2s ;
    width: 30vw;
}
.center{
    align-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

 .theme-switch-wrapper {
    display: flex;
    align-items: center;
  
    em{
      margin-left: 10px;
      font-size: 1rem;
    }
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #2873CC;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  