<html>
    {% load static %}
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'story7.css' %}">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script> 

    </head>

    <body>
            <div class="center">
                <h2 class="text-center">Bhaskoro Siddhi Pradhana</h2>
                <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox" />
                                    <div class="slider round"></div>
                              </label>
                            </div>
            </div>
            <div class="container center mt-4 mb-4" >
                <img src="{% static 'bhaski.JPG' %}" >
            </div>
            <div>
                <p class="text-center">Extremely determined to learn new things outside the class. I am really interested in business and marketing fields. I have a good interpersonal skills and good communications skills, where i have tons of experience working and conducting with other people</p>
            </div>
            <div class="center">
                    <dl class="accordion">

                            <dt><a href="">Education</a></dt>
                            <dd><ul>
                                    <li>SMP Labschool Kebayoran | 2012 - 2015</li>
                                    <li>SMAN 78 Jakarta Barat |  2015 - 2018</li>
                                    <li>Universitas Indonesia | 2018 - PRESENT</li>
                            </ul></dd>
                            
                            <dt><a href="">Activities</a></dt>
                            <dd><ul>
                                    <li>Staff of Sponsorship | COMPFEST</li>
                                    <li>Member of Entrepreneurship SIG | SISTEM</li>
                                    <li>Liaison Officer Artist | Widelanes Festival</li>
                                    <li>Vice Project Officer High School Prom | SMAN 78</li>
                            </ul></dd>
                            
                            <dt><a href="">Achievements</a></dt>
                            <dd><ul>
                                    <li>Semifinalist Eureca Business Plan Competition | Prasetya Mulya</li>
                                    <li>Finalist Diponegoro Businss Case Competition | Universitas Diponegoro</li>
                            </ul></dd>
                            
                    </dl>

            </div>

            <script src="{% static 'story7.js' %}" type="text/javascript"></script>

    </body>
</html>